<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3" style="text-align: center;">News Scraper</h1>
	</div>
</div>
<div class='articles'>
	{{#unless data.length}}
	<div class="alert alert-warning" role="alert">
		<p style="text-align: center;"><strong>Uh Oh!</strong> It doesn't look like you have any new articles</p>
	</div>
	{{/unless}}
	{{#if data.length}}		
		{{#each data}}
			{{#unless saved}}
				<div class="alert alert-success" role="alert" style='text-align: center;'>
					<h3><a href={{link}} class="alert-link">{{title}}</a></h3>
					<p>{{summary}}</p>
					<button class="save" type="button" class="btn btn-secondary" data-value={{_id}} onClick="clickSave.call(this)">Save Article</button>
				</div>
			{{/unless}}
		{{/each}}		
	{{/if}}
</div>